<form class="dsk item-sheet {{cssClass}}" autocomplete="off">
    {{> systems/dsk/templates/items/item-header.html}} {{> systems/dsk/templates/items/item-stat.html}}


    <nav class="sheet-tabs tabs" data-tab-container="primary">
        <a class="item active" data-tab="description">{{localize "dsk.description"}}</a>
        <a class="item" data-tab="details">{{localize "dsk.details"}}</a>
        <a class="item" data-tab="effects">{{localize "dsk.statuseffects"}}</a>
    </nav>


    <section class="content">

        {{> systems/dsk/templates/items/item-description.html}}

        <div class="tab details" data-tab="details">

            <div class="form-group">
                <label class="label-text">{{localize "dsk.Characteristic"}} 1</label>
                <select name="system.characteristic1" data-dtype="String">
                    {{selectOptions characteristics selected=system.characteristic1 localize=true}} 
                </select>
            </div>

            <div class="form-group">
                <label class="label-text">{{localize "dsk.Characteristic"}} 2</label>
                <select name="system.characteristic2" data-dtype="String">
                    {{selectOptions characteristics selected=system.characteristic2 localize=true}} 
                </select>
            </div>

            <div class="form-group ">
                <label class="label-text">{{localize "dsk.range"}}</label>
                <input class="input-text" type="text" name="system.range" value="{{system.range}}" data-dtype="String" />
            </div>
            <div class="form-group">
                <label class="label-text">{{localize "dsk.duration"}}</label>
                <input class="input-text" type="text" name="system.duration" value="{{system.duration}}" data-dtype="String" />
            </div>
            <div class="form-group">
                <label class="label-text">{{localize "dsk.targetCategory"}}</label>
                <input class="input-text" type="text" name="system.targetCategory" value="{{system.targetCategory}}" data-dtype="String" />
            </div>
            <div class="form-group">
                <label class="label-text">{{localize "dsk.AeP"}}</label>
                <input class="input-text" type="number" name="system.AeP" value="{{system.AeP}}" data-dtype="Number" />
            </div>
            <div class="form-group full-height">
                <label class="label-text">{{localize "dsk.effect"}}</label>
                <textarea class="input-text" type="text" name="system.effect" data-dtype="String">{{system.effect}}</textarea>
            </div>
            <div class="form-group">
                <label class="label-text">{{localize "dsk.distribution"}}</label>
                <input class="input-text" type="text" name="system.distribution" value="{{system.distribution}}" data-dtype="String" />
            </div>
            <div class="form-group">
                <label class="label-text">{{localize "dsk.StF"}}</label>
                <select name="system.StF" data-dtype="String">
                    {{selectOptions StFs selected=system.StF localize=true}} 
                </select>
            </div>
        </div>

        {{> systems/dsk/templates/items/item-effects.html}}
    </section>
</form>