<form class="dsk item-sheet {{cssClass}}" autocomplete="off">
    {{> systems/dsk/templates/items/item-header.html}} {{> systems/dsk/templates/items/item-stat.html}}

    <nav class="sheet-tabs tabs" data-tab-container="primary">
        <a class="item active" data-tab="description">{{localize "dsk.description"}}</a>
        <a class="item" data-tab="details">{{localize "dsk.details"}}</a>
    </nav>


    <section class="content">
        <div class="tab description active" data-tab="description">
            {{#if hasLocalization}} {{{localize (concat "dsk.SKILLdescr." item.name)}}} {{else}} {{editor enrichedDescription target="system.description.value" button=true owner=owner editable=editable}} {{/if}}
        </div>

        <div class="tab details" data-tab="details">

            <div class="form-group">
                <label class="label-text">{{localize "dsk.Characteristic"}} 1</label>
                <select name="system.characteristic1" data-dtype="String">
                    {{selectOptions characteristics selected=system.characteristic1 localize=true}} 
                </select>
            </div>

            <div class="form-group">
                <label class="label-text">{{localize "dsk.Characteristic"}} 2</label>
                <select name="system.characteristic2" data-dtype="String">
                    {{selectOptions characteristics selected=system.characteristic2 localize=true}} 
                </select>
            </div>

            <div class="form-group">
                <label class="label-text">{{localize "dsk.Group"}}</label>
                <select name="system.group" data-dtype="String">
                    {{selectOptions skillGroups selected=system.group localize=true}}  
                </select>
            </div>

            <div class="form-group">
                <label class="label-text">{{localize "dsk.CONDITION.encumbered"}}</label>
                <select name="system.encumbers" data-dtype="String">
                    {{selectOptions skillBurdens selected=system.encumbers localize=true}} 
                </select>
            </div>

            <div class="form-group">
                <label class="label-text">{{localize "dsk.StF"}}</label>
                <select name="system.StF" data-dtype="String">
                    {{selectOptions StFs selected=system.StF localize=true}} 
                </select>
            </div>
        </div>
    </section>
</form>