<div class="row-section ">
    <div class="col ten">
        <img src="{{item.img}}" data-edit="img" />
    </div>
    <div class="ninety item-main">
        <div class="row-section">
            <div class="col four">
                <label class="label-text table-title">{{localize "dsk.category"}}</label>
            </div>
            <div class="col fourty">
                <label>{{itemCategory item.type}}</label>
            </div>
            <div class="col four">
                <label class="label-text table-title">{{localize "dsk.quantity"}}</label>
            </div>
            <div class="col fifteen">
                <input class="input-text" type="number" name="system.quantity" value="{{system.quantity}}" data-dtype="Number" />
            </div>
        </div>
        <div class="row-section">
            <div class="col four">
                <label data-tooltip="dsk.UNITS.money" class="label-text table-title">{{localize "dsk.price"}}</label>
            </div>
            <div class="col fourty">
                <input data-tooltip="dsk.UNITS.money" class="input-text" type="number" name="system.price" value="{{system.price}}" />
            </div>
            <div class="col four">
                <label data-tooltip="dsk.UNITS.weight" class="label-text table-title">{{localize "dsk.weight"}}</label>
            </div>
            <div class="col fifteen">
                <input data-tooltip="dsk.UNITS.weight" class="input-text" type="number" name="system.weight" value="{{system.weight}}" />
            </div>
        </div>
    </div>
</div>